@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241 245 249);
}
.nav__bar {
  max-width: 1200px;
}
.main_container {
  max-width: 750px;
}
.user__img {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
} */

table {
  border-collapse: collapse;
  width: 100%;
  background: white;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.table__data:nth-child(odd) {
  background-color: #d6eeee;
}
